/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.containerstyle {
  border: 1px solid green;
  background-color: gold;
  border-radius: 5%;
  width: 49%;
  padding: 3%;
}
.boxstyle {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px auto;
  width: 100%;
}
.blockstyle {
  border: 1px solid green;
  background-color: #5cb9b9;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
}
html,
body {
  height: 100%;
  background-color: #f3f3a4;
}
.container {
  width: 880px;
  margin: 0px auto;
}
@media (max-width: 500px) {
  .container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
  }
}
.container #profile-pic {
  width: 30%;
}
.container header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 500px) {
  .container header {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
  }
}
.container header .left-side {
  width: 49%;
  text-align: center;
  border: 1px solid green;
}
.container header .left-side nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 10%;
}
.container header .left-side nav a {
  text-decoration: none;
  color: green;
}
.container header .left-side h1 {
  font-size: 40px;
  padding: 10%;
}
.container header .left-side p {
  font-size: 20px;
  padding: 20px;
}
.container header .left-side button {
  padding: 10px 20px 10px 20px;
}
.container header .right-side {
  width: 49%;
  border: 1px solid blue;
}
.container header .right-side img {
  margin-left: 20%;
  margin-right: 20%;
}
.container #profile-pic {
  width: 60%;
}
.container .about-me {
  border: 1px solid green;
  background-color: #5cb9b9;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
}
.container .about-me .profile {
  border: 1px solid brown;
}
.container .about-me .profile h2 {
  padding: 2%;
  font-size: 23px;
}
.container .about-me .profile p {
  padding: 2%;
  font-size: 20px;
}
.container section .education .ed {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px auto;
  width: 100%;
}
@media (max-width: 500px) {
  .container section .education .ed {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
  }
}
.container section .education .ed .ed1 {
  border: 1px solid green;
  background-color: gold;
  border-radius: 5%;
  width: 49%;
  padding: 3%;
}
.container section .education .ed .ed1 h1 {
  font-size: 25px;
}
.container section .education .ed .ed1 h2 {
  font-size: 23px;
}
.container section .education .ed .ed1 p {
  font-size: 20px;
}
.container section .education .ed .ed2 {
  border: 1px solid green;
  background-color: gold;
  border-radius: 5%;
  width: 49%;
  padding: 3%;
}
.container section .education .ed .ed2 h1 {
  font-size: 25px;
}
.container section .education .ed .ed2 h2 {
  font-size: 23px;
}
.container section .education .ed .ed2 p {
  font-size: 20px;
}
.container section .work .wk {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px auto;
  width: 100%;
}
@media (max-width: 500px) {
  .container section .work .wk {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
  }
}
.container section .work .wk .work1 {
  border: 1px solid green;
  background-color: gold;
  border-radius: 5%;
  width: 49%;
  padding: 3%;
}
.container section .work .wk .work1 h1 {
  font-size: 25px;
}
.container section .work .wk .work1 h2 {
  font-size: 23px;
}
.container section .work .wk .work1 ul {
  list-style-type: circle;
  font-size: 20px;
}
.container section .work .wk .work2 {
  border: 1px solid green;
  background-color: gold;
  border-radius: 5%;
  width: 49%;
  padding: 3%;
}
.container section .work .wk .work2 h1 {
  font-size: 25px;
}
.container section .work .wk .work2 h2 {
  font-size: 23px;
}
.container section .work .wk .work2 ul {
  list-style-type: circle;
  font-size: 20px;
}
.container section .myskills {
  border: 1px solid green;
  background-color: #5cb9b9;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  border: 1px solid black;
  padding: 2%;
}
.container section .myskills h2 {
  font-size: 23px;
}
.container section .myskills ul {
  list-style-type: circle;
  font-size: 20px;
}
.container footer {
  border: 1px solid green;
  background-color: #5cb9b9;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
}
.container footer .contact h2 {
  font-size: 25px;
  margin-left: 4%;
}
.container footer .contact ul {
  margin-left: 4%;
  font-size: 20px;
}
