/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
/*Variables*/
/*Mixins*/
.single-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.two-box {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.two-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #e0c6b2;
}
.container {
  width: 800px;
  margin: 0px auto;
}
.container header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 500px) {
  .container header {
    flex-direction: column;
  }
}
.container header .left-side {
  width: 49%;
  margin: 0px auto;
  text-align: center;
}
.container header .left-side nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 10%;
}
.container header .left-side nav a {
  text-decoration: none;
  color: #118C8B;
}
.container header .left-side h1 {
  font-family: 'Courgette', cursive;
  font-size: 50px;
  padding: 20%;
  color: #F14D49;
}
.container header .left-side p {
  font-family: 'Arapey', serif;
  padding: 30px 0px 30px 0px;
  font-size: 1.2rem;
  color: #F2747B;
}
.container header .left-side button {
  padding: 10px 20px 10px 20px;
  background-color: #118c8b;
  border-radius: 15%;
  border: 1px solid #000d29;
  color: white;
}
.container header .right-side {
  width: 49%;
  margin: 0px auto;
}
.container header .right-side img {
  width: 100%;
}
.container section .about-me {
  border-top: 1px solid black;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (max-width: 500px) {
  .container section .about-me {
    width: 50%;
    margin: 0px auto;
  }
}
.container section .about-me .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container section .about-me .profile h1 {
  font-size: 1.3rem;
  font-family: 'Courgette', cursive;
  padding-bottom: 20px;
  color: #F14D49;
}
.container section .about-me .profile p {
  font-family: 'Arapey', serif;
}
.container section h1 {
  padding-top: 20px;
  font-size: 1.3rem;
  font-family: 'Courgette', cursive;
  color: #F14D49;
}
@media (max-width: 500px) {
  .container section h1 {
    width: 50%;
    margin: 0px auto;
  }
}
.container section .education .ed {
  padding-bottom: 20px;
  border-bottom: 1px dashed black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container section .education .ed {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 50%;
  }
}
.container section .education .ed .ed1 {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media (max-width: 500px) {
  .container section .education .ed .ed1 {
    width: 100%;
  }
}
.container section .education .ed .ed1 h2 {
  color: #118C8B;
}
.container section .education .ed .ed1 p {
  font-family: 'Arapey', serif;
}
.container section .education .ed .ed2 {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media (max-width: 500px) {
  .container section .education .ed .ed2 {
    width: 100%;
  }
  .container section .education .ed .ed2 h2 {
    color: #118C8B;
  }
}
.container section .education h1 {
  padding-top: 20px;
  font-size: 1.3rem;
  font-family: 'Courgette', cursive;
  color: #F14D49;
}
@media (max-width: 500px) {
  .container section .education h1 {
    width: 50%;
    margin: 0px auto;
  }
}
.container section .education .work .wk {
  padding-bottom: 20px;
  border-bottom: 1px dashed black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container section .education .work .wk {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 50%;
  }
}
.container section .education .work .wk .work1 {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media (max-width: 500px) {
  .container section .education .work .wk .work1 {
    width: 100%;
  }
}
.container section .education .work .wk .work1 h2 {
  color: #118C8B;
}
.container section .education .work .wk .work1 p {
  font-family: 'Arapey', serif;
}
.container section .education .work .wk .work2 {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media (max-width: 500px) {
  .container section .education .work .wk .work2 {
    width: 100%;
  }
}
.container section .education .work .wk .work2 h2 {
  color: #118C8B;
}
.container section .education .work .wk .work2 p {
  font-family: 'Arapey', serif;
}
.container section .education .myskills {
  border-top: 1px dashed black;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (max-width: 500px) {
  .container section .education .myskills {
    width: 50%;
    margin: 0px auto;
  }
}
.container section .education .myskills h1 {
  padding: 20px 0px 20px 0px;
  font-size: 1.3rem;
  font-family: 'Courgette', cursive;
  color: #F14D49;
}
.container section .education .myskills .skills ul {
  font-family: 'Arapey', serif;
}
.container section .education footer {
  border-top: 1px dashed black;
}
@media (max-width: 500px) {
  .container section .education footer {
    width: 50%;
    margin: 0px auto;
  }
}
.container section .education footer .contact h1 {
  padding: 20px 0px 20px 0px;
  font-size: 1.3rem;
  font-family: 'Courgette', cursive;
  color: #F14D49;
}
.container section .education footer .contact ul {
  font-family: 'Arapey', serif;
}
