// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

/*Variables*/
@font-h1: 'Courgette', cursive;
@font-p: 'Arapey', serif;
@size-h1: 1.3rem;

/*Mixins*/
.single-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.two-box {
	display: flex;
	flex-direction: column;
	width: 49%;
}

.two-box-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: rgb(224, 198, 178)

}


.container {
	width: 800px;
	margin: 0px auto;
	


	header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		@media(max-width:500px){
			flex-direction: column;
		}

		.left-side {
			width: 49%;
			margin: 0px auto;
			text-align: center;

			nav {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				margin-top: 10%;
				margin-bottom: 10%;

				a {
					text-decoration: none;
					color: #118C8B;
				}
			}

			h1 {
				font-family: @font-h1;
				font-size: 50px;
				padding: 20%;
				color:#F14D49;

			}

			p {
				font-family: @font-p;
				padding: 30px 0px 30px 0px;
				font-size: 1.2rem;
				color:#F2747B;

			}

			button {
				padding: 10px 20px 10px 20px;
				background-color:#118c8b;
				border-radius: 15%;
				border:1px solid #000d29;
				color:white;
			}

		}

		.right-side {
			width: 49%;
			margin: 0px auto;

			img {
				width: 100%;
			}
		}
	}

	section {
		.about-me {
			border-top: 1px solid black;
			padding: 20px 0px 20px 0px;
			border-bottom: 1px dashed black;
			.single-box();
			@media(max-width:500px){
				width:50%;
				margin: 0px auto;
			}

			.profile {
				.single-box();

				h1 {
					font-size: @size-h1;
					font-family: @font-h1;
					padding-bottom:20px;
					color:#F14D49;
				}

				p {
					font-family: @font-p;

				}
			}
		}

		h1 {
			padding-top: 20px;
			font-size: @size-h1;
			font-family: @font-h1;
			color:#F14D49;


		}

		.education {

			.ed {
				padding-bottom: 20px;
				border-bottom: 1px dashed black;
				.two-box-container();
				@media(max-width:500px){
					flex-direction: column;
					margin: 0px auto;
				}

				.ed1 {
					.two-box();
					h2{
						color: #118C8B;
					}
					p{
						font-family: @font-p;
					}


				}

				.ed2 {
					.two-box();
					h2{
						color: #118C8B;
					}
				}
			}
		}

		h1 {
			padding-top: 20px;
			font-size: @size-h1;
			font-family: @font-h1;
			color:#F14D49;

		}

		.work {
			padding-bottom: 20px;
			
			.wk {
				.two-box-container();
				@media(max-width:500px){
					flex-direction: column;
					margin: 0px auto;
				}

				.work1 {
					.two-box();
					h2{
						color: #118C8B;
					}
					p{
						font-family: @font-p;
					}
				}

				.work2 {
					.two-box();
					h2{
						color: #118C8B;
					}
					p{
						font-family: @font-p;
					}
				}
			}
		}


		.myskills {
			
			border-top: 1px dashed black;
			padding-bottom: 20px;

			.single-box();

			h1 {
				padding: 20px 0px 20px 0px;
				font-size: @size-h1;
				font-family: @font-h1;
				color:#F14D49;

			}

			.skills {

				ul {
					
						font-family: @font-p;
					
				}
			}
		}

		footer {
			border-top: 1px dashed black;

			.contact {

				h1 {
					padding: 20px 0px 20px 0px;
					font-size: @size-h1;
					font-family: @font-h1;
					color:#F14D49;
				}

				ul {
					font-family: @font-p;
				}
			}
		}

	}

}